:root {
  --background: #d7d7d7;
  --header: #192a56;
  --card: #ebebeb;
}

h1,
h2 {
  font-family: "Ubuntu", sans-serif;
}

p,
a {
  font-family: "Oxygen", sans-serif;
  margin: 0;
}

body {
  margin: 0;
  background-image: url(/media/wp403994-wallpaper-lord-of-the-rings.jpg);
}

/* NAVIGATION + HEADER */
header {
  background: var(--header);
  display: flex;
  height: 70px;
}

.logocontainer {
  display: flex;
}

#logo {
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* nav a {
  text-decoration: none;
  padding: 1rem;
  color: white;
  border: 1px solid white;
  font-size: 1.5rem;
} */
nav ul {
  display: grid;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  margin: auto 4rem auto auto;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 0.9rem;
  text-align: center;
  font-size: 2rem;
  color: black;
  font-family: ubuntu, sans-serif;
}

nav a:hover {
  border: 1px solid black;
}

.title {
  margin: auto;
}

/* NAVIGATION + HEADER END */
.characters {
  display: flex;
  flex-wrap: wrap;
  /* background: #2c3e50; */
  background: var(--background);
  max-width: 85vw;
  margin: auto;
  justify-content: space-around;
}
/* CONTACT STYLING */
.contact {
  background: var(--background);
  max-width: 40vw;
  margin: auto;
  padding: 2rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.contact h2 {
  font-size: 2rem;
  margin: 0;
  padding: 1rem 0;
}

fieldset {
  border: medium none;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.contact input {
  width: 90%;
  margin: 0 0 5px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
}

.contact input:hover {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.contact button {
  cursor: pointer;
  width: 94%;
  border: none;
  background: var(--header);
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#nameError,
#subjectError,
#emailError,
#addressError {
  color: red;
  font-size: 0.7rem;
}
/* CONTACT STYLING END */

.charcard {
  padding: 2rem;
  margin: 1rem;
  width: 13rem;
  height: 10rem;
  background-color: var(--card);
  border-radius: 10%;
  text-decoration: none;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fa-venus {
  color: #725266;
}

.fa-mars {
  color: #031c6e;
}

.wikilink {
  text-decoration: none;
  color: #192a56;
}

.wikilink:hover {
  text-decoration: underline;
}

/* Details Page */
.chardetails {
  width: 80vw;
  background-color: var(--background);
  margin: 0 auto;
  height: 70vh;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.chardetails h1 {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
  margin-bottom: 0;
}

#birthdetails {
  text-align: center;
  font-size: 1rem;
}

.chardetails p {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
}

/* Error handling */
.error {
  padding: 2rem;
  border: 1px solid red;
  margin: 1rem;
  text-align: center;
}

.fa-exclamation-triangle {
  font-size: 2rem;
  color: red;
}
